<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false">

  <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss} %-7([%level]) %logger{0} - %message \\(%thread\\)%n"/>

  <property name="log.dir" value="/var/log/tomcat7"/>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${log.dir}/%d{yyyyMMdd}-${HOSTNAME}-recipes-repository.log</fileNamePattern>
    </rollingPolicy>
    <prudent>true</prudent>
    <encoder>
      <pattern>${log.pattern}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="file"/>
  </root>

</configuration>